<div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center vh-100">
    <div class="step-container col-sm-12 col-md-8 col-lg-6">
      <div class="card m-2  d-flex flex-column align-items-center" [@slideInOut]>
        <img class="card-img-top img-fluid" [src]="data[currentStep].image" [ngStyle]="{ 'background-color': data[currentStep].bgcolor }" alt="{{ data[currentStep].title }}"/>
        <div class="card-body">
          <h3 class="mb-4">{{ data[currentStep].title }}</h3>
          <p class="mb-4">{{ data[currentStep].description }}</p>
          <div class="navigation">
            @if (currentStep > 0) {
              <button class="btn btn-dark" (click)="prevStep()" style="position: absolute; left: 0">
                <i class="fas fa-arrow-left"></i>
              </button>
            }
            @if (currentStep < data.length - 1) {
              <button class="btn btn-dark" (click)="nextStep()" style="position: absolute; right: 0">
                <i class="fas fa-arrow-right"></i>
              </button>
            }
          </div>
          <div class="step-indicators">
            <div class="step-indicators">
              @for (step of data; track step) {
              <div class="indicator" [class.active]="isActiveStep(data.indexOf(step))"></div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
